############################################# Core3S500E #############################################
# GLOBAL CLK & button for RST 
NET "CLK" LOC = "P184";
NET "RST" LOC = "P101"; # button to GPIO, but only as input capable
# on-board LEDs
NET "SEC_LED" LOC =" P68"; # marked on board as L4
NET "TIM_LED" LOC = "P78"; # marked on board as L3
#NET "led[2]" LOC = "P83"; # marked on board as L2
#NET "led[3]" LOC = "P89"; # marked on board as L1

############################################### DVK600 ##############################################
# on-board resources 
NET "BUZZ"  LOC = "p123"; # busser (toggle on/off by jumper), same as "8I/Os_2_6"

# GPIO PORTS
### General rules:
### GPIO lines could be configured either as inputs or outputs
### 

#Port 8I/Os_1
NET "SETUP<0>"  LOC = "p75";
NET "SETUP<1>"  LOC = "p76";
NET "SETUP<2>"  LOC = "p69";
NET "SETUP<3>"  LOC = "p74";
NET "SEC"  LOC = "p64"; # same as "LCD12864_K"
NET "TIM"  LOC = "p65"; # same as "LCD12864_A"
NET "START"  LOC = "p62";
NET "STOP"  LOC = "p63"; # same as "LCD12864_RST"

#16I/Os_2
NET "DIGIT<0>"  LOC = "p119"; # same as "joystick-left"
NET "SEGM<0>"  LOC = "p116"; # same as "joystick-down"
NET "DIGIT<1>"  LOC = "p115"; # same as "joystick-press"
NET "SEGM<1>"  LOC = "p113";
NET "DIGIT<2>"  LOC = "p112";
NET "SEGM<2>"  LOC = "p109";
NET "DIGIT<3>"  LOC = "p108";
NET "SEGM<3>"  LOC = "p107";
NET "DIGIT<4>"  LOC = "p106";
#NET "points"  LOC = "p102";
NET "DIGIT<5>"  LOC = "p100";
#NET "16I/Os_2_12"  LOC = "p99";
NET "DIGIT<6>"  LOC = "p98";
#NET "16I/Os_2_14"  LOC = "p97";
NET "DIGIT<7>"  LOC = "p96";
#NET "16I/Os_2_16"  LOC = "p94";
